body {
	background-color:#324894;
	font-family: Verdana,Arial,sans-serif;
	overflow-x: hidden;
	border: 0;
	padding: 2em 2em 2em 2em;
}

#header, #footer{
	height: 80px;
}

#footer{
	position: absolute;
	bottom: 0; 
	height: 34px;
}

#footer a {
	height: 0;
}

#left_column {
	width:66%;
	float:left;
}

.header{
	padding: 1em;
}

#left_column > .header {
	background-color:#404040;
	font-size: 1.1em;
	font-weight: bold;
	color: #ffffff;
}

#content {
	background-color:#f0f0f0;
}

#right_column {
	margin-top: 2em;
	background-color:#6b6b6b;
	width:33%;
	color: #ffffff;
	float:left;
	font-size: 0.8em;
}

#right_column > .header {
	padding: 0.5em;
	background-color:#343434;
	font-size: 1.2em;
}

#right_column > p {
	padding-left: 1em;
}

input:disabled{
	background-color:#cccccc;
}

.green_link{
	color:#00aa00;
}

.poll_tabs {
	font-size: 1em;
	border:0px;
	padding:0em;
}

.poll_vote_form{
	width:100%;
}

.ui-tabs .ui-tabs-nav {
	padding: 0em 0em 0;
	border:0px;
}

.ui-tabs .ui-tabs-nav li {
	font-size: 1.1em;
	border: 0px none;
}

.dataTable{
	width: 100% !important;
} 

.dataTable tr {
	font-size: 0.8em;
}

#reformal_tab {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

