body {
	background-color:#324894;
	font-family: Verdana,Arial,sans-serif;
	overflow-x: hidden;
	border: 0;
	padding: 2em 2em 2em 2em;
}

#header{
	height: 80px;
	padding: 1em;
}

#footer{
	clear: both;
	height: 34px;
}

#footer a {
	height: 0;
}

#left_column {
	width:66%;
	float:left;
}

.header{
	padding: 1em;
}

#left_column > .header {
	background-color:#404040;
	font-size: 1.5em;
	color: #ffffff;
}

#content {
	background-color:#f0f0f0;
}

#right_column {
	margin-top: 2em;
	background-color:#6b6b6b;
	width:33%;
	color: #ffffff;
	float:left;
	font-size: 0.8em;
}

#right_column > .header {
	padding: 0.5em;
	background-color:#343434;
	font-size: 1.2em;
}

#right_column > p {
	padding-left: 1em;
}

#not_for_profit{
	margin: 2em;
}

input{
	background-color:#ffffff;
	border: 1px solid #a0a0a0;
}

input:disabled{
	background-color:#f0f0f0;
	border: 1px solid #a0a0a0;
}

input:focus{
	background-color: #ffffff;
	border: 1px solid #009900;
	color: #009900;
}

button:disabled{
	height: 24px !important;
	font-size: 12px !important;
	color: #fff !important;
	background-color: #a0a0a0 !important;
}

button{
	/* фон 444, цвет текста 3c3*/
	background-color: #444 !important;
	color: #3c3 !important;
	/* background-color: #009900 !important; */
}

button:mouseover{
	color: #444 !important;
	background-color: #3c3 !important;
}

.green_link{
	color:#00aa00;
}

.rating{
	font-size: 1.6em;
	font-weight: bold;
}

.poll_tabs {
	font-size: 1em;
	border:0px;
	padding:1em;
}

.poll_vote_form{
	width:100%;
}

.ui-tabs .ui-tabs-nav {
	padding: 0em 0em 0;
	border:0px;
}

.ui-tabs .ui-tabs-nav li {
	font-size: 0.8em;
	border: 0px none;
}

.dataTable{
	width: 100% !important;
} 

.dataTable tr {
	height: 22px;
	font-size: 0.8em;
}

table.dataTable thead{
	background-color: #ccc;
}

table.dataTable tr.odd {
	background-color: #d8ddf2;
}

table.dataTable tr.even {
	background-color: #e1e5f5;
}

#reformal_tab {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

